/*
  DISCLAIMER: This example code is provided for educational and demonstration purposes.
  It may not represent best practices for security and/or performance and is not intended for production use.
*/

/* Reference hosted font files */
@font-face {
    font-family: 'Oslo Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("Fonts/OsloSansOffice-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: 'Oslo Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("Fonts/OsloSansOffice-Bold.ttf") format("truetype");
  }



body {
    margin: 0;
  }
